.main-promo {
  position: relative;
  width: 100%;
  min-height: 768px;
  padding-top: 13.8%;
  background-image: $background-gradient, url("../img/D-main-promo@1x.jpg");
  background-color: #141111;

  @include flexible-background;

  @media (min-resolution: $retina-dppx) {
    background-image: $background-gradient, url("../img/D-main-promo@2x.jpg");
  }
}

.main-promo__title {
  margin-top: 0;
  margin-bottom: 32px;
}

.main-promo__text {
  width: 42%;
  @include text-options(17px, $text-white, 25px, 500);
}

.main-promo__button {
  margin-top: 6%;
}

@media (max-width: $tablet-width) {
  .main-promo {
    padding-top: 16%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-promo__title {
    text-align: center;
  }

  .main-promo__text {
    display: none;
  }

  .main-promo__title br {
    display: none;
  }

  .main-promo__button {
    margin: 0 auto;
  }
}

@media (max-width: $mobile-width) {
  .main-promo {
    min-height: 640px;
    padding-top: 0;
    background-image: $background-gradient, url("../img/M-main-promo@1x.jpg");
    justify-content: flex-end;

    @media (min-resolution: $retina-dppx) {
      background-image: $background-gradient, url("../img/M-main-promo@2x.jpg");
    }
  }

  .main-promo__wrapper {
    margin-bottom: 20%;
  }
}
