.modal-button-close {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: transparent;

  @include reset-button-styles;
  z-index: 5;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: #ffffff;
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: #ffffff;
    transform: rotate(-45deg);
  }
}
