@media (min-width: $desktop-width-only) {
  .page-nav__top {
    width: 100%;
    max-width: 1366px;
    position: fixed;
    top: 0;
    z-index: 888;
    @include vertical-position;
  }

  .page-nav__social {
    width: 100%;
    max-width: 1366px;
    position: fixed;
    bottom: 0;
    z-index: 888;
    @include vertical-position;
  }
}

@media (max-width: $tablet-width) {
  .page-nav {
    background: linear-gradient(159.27deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, #24150E 89.63%, #1A140D 106.79%);
  }

  .page-nav__wrapper {
    padding: 0 16px;
  }
}
