@media (min-width: $desktop-width-only) {
  .page-nav__top {
    width: 100%;
    max-width: 1366px;
    position: fixed;
    top: 0;
    z-index: 888;
    @include vertical-position;
  }

  .page-nav__social {
    width: 100%;
    max-width: 1366px;
    position: fixed;
    bottom: 0;
    z-index: 888;
    @include vertical-position;
  }
}

@media (max-width: $tablet-width) {
  .page-nav {
    position: absolute;
    width: 100%;
    top: 0;
    padding: 0 16px;
    z-index: 888;
  }

  .page-nav--closed {
    background: none;
  }

  .page-nav--opened {
    background: $background-gradient, $color-overlay;
  }
}
