.social {
  @include reset-list;
  display: flex;
}

.social__item {
  margin-right: 7px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.social__link--ig {
  display: block;
  background: url("../img/icon-social-ig.svg") no-repeat center;
  background-size: 28px 28px;

  &:hover {
    background: url("../img/icon-social-ig-hover.svg") no-repeat center;
  }
}

.social__link--vk {
  display: block;
  background: url("../img/icon-social-vk.svg") no-repeat center;
  background-size: 28px 28px;

  &:hover {
    background: url("../img/icon-social-vk-hover.svg") no-repeat center;
  }
}

@media (max-width: $tablet-width) {
  .social__link,
  .social__box {
    width: 36px;
    height: 36px;
  }

  .social__link--ig,
  .social__link--vk {
    background-size: 36px 36px;

    &:hover {
      background-size: 36px 36px;
    }
  }

  .social__item {
    margin-right: 16px;
  }
}
