.social__item {
  margin-right: 7px;

  &:last-child {
    margin-right: 0;
  }
}

.social {
  @include reset-list;
  display: flex;
}

.social__link {
  width: 28px;
  height: 28px;
  background: #c6c4c2;
  border-radius: 50%;
}

.social__link--ig:hover {
  cursor: pointer;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.social__link--ig:hover .social__box--ig {
  fill: $white;
}

.social__link--vk:hover {
  cursor: pointer;
  background: #4f779f;
}

.social__link--vk:hover .social__box--vk {
  fill: $white;
}

@media (max-width: $tablet-width) {
  .social__link {
    width: 36px;
    height: 36px;
  }

  .social__item {
    margin-right: 16px;
  }
}
