@font-face {
  font-family: "Raleway";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local("Raleway-Regular"), url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
}

@font-face {
  font-family: "Raleway";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("Raleway-Medium"), url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
}

@font-face {
  font-family: "Raleway";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local("Raleway-SemiBold"), url("../fonts/Raleway-SemiBold.woff2") format("woff2"), url("../fonts/Raleway-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Raleway";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: local("Raleway-Bold"), url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
}

@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: local("Raleway-ExtraBold"), url("../fonts/Raleway-ExtraBold.woff2") format("woff2"), url("../fonts/Raleway-ExtraBold.woff") format("woff");
}
