$orange: #f2890f;
$white: #ffffff;
$text-white: #e6e6e6;
$color-overlay: #3d3333;
$black: #141111;
$background-gradient: linear-gradient(159.27deg, rgba(99, 60, 15, 0) 23.22%, rgba(99, 60, 15, 0) 37.46%, rgba(36, 21, 14, 0.54) 89.63%, rgba(26, 20, 13, 0.54) 106.79%);
$background-radial: radial-gradient(43.88% 64.96% at 22.69% 38.28%, rgba(0, 0, 0, 0.04) 47.51%, rgba(0, 0, 0, 0.76) 91.16%);
$background-booking: radial-gradient(43.88% 64.96% at 22.69% 38.28%, rgba(0, 0, 0, 0.04) 47.51%, rgba(0, 0, 0, 0.76) 91.16%);
$desktop-width: 1366px;
$title-desktop-width: 1364px;
$desktop-width-only: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;
$mobile-small-width: 359px;
$retina-dppx: 1.5dppx;
