$orange: #f2890f;
$white: #ffffff;
$text-white: #e6e6e6;
$color-overlay: #3d3333;
$black: #141111;
$desktop-width: 1366px;
$desktop-width-only: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;
$retina-dppx: 1.5dppx;
